
<app-sidebar></app-sidebar>
<div class="main-content">
  <div class="container-fluid root">
    <app-navbar></app-navbar>
    <h1>Módulo de Producción</h1>
      <!-- FORM BUSCADOR-->
      <div class="row">
        <div class="float-left">
          <label class="text-black" for="search">Número de Orden: </label>
          <form [formGroup]="opForm" (ngSubmit)="onSubmit()">
            <input class="ml-3" type="text" name="nroOrden" formControlName="nroOrden" >
            <button type="submit">
              Buscar
            </button>
          </form>
        </div>
      </div>
      <!-- TABLA PRODUCTION-->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">{{tittle}}</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th *ngFor="let columName of columNames" scope="col">{{columName}}</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Users -->
                  <tr *ngFor="let op of opStatistics">
                    <td>
                      {{op.proceso}}
                    </td>
                    <td>
                      {{op.completado}}
                    </td>
                    <td>
                      {{op.cantidadplacas || 0}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- TABLA CONTROL-->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">{{tittle1}}</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th *ngFor="let columName of columNames1" scope="col">{{columName}}</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Users -->
                  <tr *ngFor="let op of opControl">
                    <td>
                      {{op.proceso}}
                    </td>
                    <td>
                      {{op.placasOK}}
                    </td>
                    <td>
                      {{op.placasNC}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- TABLA REWORK-->
      <div class="row">
        <div class="col">
          <div class="card shadow">
            <div class="card-header border-0">
              <h3 class="mb-0">{{tittle2}}</h3>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th *ngFor="let columName of columNames2" scope="col">{{columName}}</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- Users -->
                  <tr *ngFor="let op of opRework">
                    <td>
                      {{op.proceso}}
                    </td>
                    <td>
                      {{op.cantidadPlacas}}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
