<!-- Sidenav -->
<app-sidebar></app-sidebar>
<div class="main-content">
  <app-navbar></app-navbar>
  <div class="root">
    <div class="card card-stats mb-4 mb-lg-0">
      <div class="card-body">
        <div class="row">
          <div class="col">
            <h5 class="card-title text-uppercase text-muted mb-0">Pintor X</h5>
            <span class="h2 font-weight-bold mb-0">info x</span>
          </div>
          <div class="col-auto">
            <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
              <i class="fas fa-trophy"></i>
            </div>
          </div>
        </div>
        <p class="mt-3 mb-0 text-muted text-sm">
          <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> x%</span>
          <span class="text-nowrap">texto x</span>
        </p>
      </div>
    </div>
  </div>
</div>
